<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Bradesco>
            <version>1.0.0</version>
        </Mozg_Bradesco>
    </modules>
    <global>
        <models>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Model</class>
                <resourceModel>mozg_bradesco_resource</resourceModel>
            </mozg_bradesco>
            <mozg_bradesco_resource>
                <class>Mozg_Bradesco_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_bradesco_resource>
            <!--<sales>
                <rewrite>
                    <billing_agreement>Mozg_Bradesco_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Bradesco_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Bradesco_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>-->
        </models>
        <helpers>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Helper</class>
            </mozg_bradesco>
            <payment>
                <rewrite>
                    <data>Mozg_Bradesco_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <mozg_bradesco_setup>
                <setup>
                    <module>Mozg_Bradesco</module>
                    <class>Mozg_Bradesco_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_bradesco_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Block</class>
            </mozg_bradesco>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Bradesco_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales>
        </blocks>
        <events>
            <!--<sales_order_payment_capture>
                <observers>
                    <mozg_bradesco_payment_capture>
                        <class>mozg_bradesco/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_bradesco_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch>
                <observers>
                    <mozg_bradesco_shopfacil_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_shopfacil_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch>
            <sales_order_shipment_save_after>
                <observers>
                    <mozg_bradesco_capture_invoice_on_shipment>
                        <class>mozg_bradesco/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_bradesco_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_after>-->
        </events>
    </global>
    <frontend>
        <secure_url>
            <mozg_process>/mozg_bradesco/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_bradesco>
                <use>standard</use>
                <args>
                    <module>Mozg_Bradesco</module>
                    <frontName>mozg_bradesco</frontName>
                </args>
            </mozg_bradesco>
        </routers>
        <translate>
            <modules>
                <Mozg_Bradesco>
                    <files>
                        <default>Mozg_Bradesco.csv</default>
                    </files>
                </Mozg_Bradesco>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_bradesco>
                    <file>mozg_bradesco.xml</file>
                </mozg_bradesco>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_bradesco_checkout_onepage_controller_success_action>
                        <class>mozg_bradesco/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_bradesco_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Bradesco before="Mage_Adminhtml">Mozg_Bradesco_Adminhtml</Mozg_Bradesco>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mozg_bradesco>
                    <file>mozg_bradesco.xml</file>
                </mozg_bradesco>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Bradesco>
                    <files>
                        <default>Mozg_Bradesco.csv</default>
                    </files>
                </Mozg_Bradesco>
            </modules>
        </translate>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_bradesco_sales_order_payment_cancel>
                        <class>mozg_bradesco/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_bradesco_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_bradesco_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_bradesco/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_bradesco_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events>
    </adminhtml>
    <default>
        <payment>
            <mozg_bradesco_abstract>
                <active>0</active>
                <sort_order>5000</sort_order>
                <debug>1</debug>
                <demoMode>Y</demoMode>
                <capture_mode>auto</capture_mode>
                <order_status>pending</order_status>
                <payment_pre_authorized></payment_pre_authorized>
                <payment_authorized>processing</payment_authorized>
                <payment_cancelled>holded</payment_cancelled>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <refund_authorized>closed</refund_authorized>
                <refund_partial_authorized>processing</refund_partial_authorized>
                <pending_status>pending_payment</pending_status>
                <create_pending_invoice>0</create_pending_invoice>
                <capture_on_shipment>0</capture_on_shipment>
                <uncancelorder>1</uncancelorder>
                <autorefundoncancel>1</autorefundoncancel>
                <send_invoice_update_mail>1</send_invoice_update_mail>
                <send_update_mail>1</send_update_mail>
                <ignore_refund_notification>0</ignore_refund_notification>
                <!--<recurringtypes>ONECLICK</recurringtypes>-->
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <title_renderer>title_image</title_renderer>
                <shopperlocale></shopperlocale>
                <countryCode></countryCode>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
            </mozg_bradesco_abstract>
            <mozg_bradesco_shopfacil_boleto translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>5050</sort_order>
                <title>Boleto Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_boleto</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
                <visible_type>both</visible_type>
                <cedente>ACME (American Company Makes Everything)</cedente>
                <carteira>25</carteira>
                <vencimento>5</vencimento>
                <mensagem_cabecalho>mensagem de cabecalho</mensagem_cabecalho>
                <instrucoes><![CDATA[- instrucao_linha_1
- instrucao_linha_2
- instrucao_linha_3]]></instrucoes>
            </mozg_bradesco_shopfacil_boleto>
            <mozg_bradesco_shopfacil_eletronictransfer translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>5060</sort_order>
                <title>Transferência Eletrônica Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_eletronicTransfer</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <eletronictransfertypes>Bradesco,BancoDoBrasil</eletronictransfertypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_bradesco_shopfacil_eletronictransfer>
        </payment>
        <mozg_bradesco>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <!--<hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>-->
                    <AU>
                        <code>AU</code>
                        <code_alt>aura</code_alt>
                        <name>Aura</name>
                        <order>100</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AU>
                </cctypes>
                <dctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                </dctypes>
                <boletotypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                </boletotypes>
                <eletronictransfertypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                </eletronictransfertypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </mozg_bradesco>
    </default>
    <crontab>
        <jobs>
            <mozg_bradesco_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_bradesco/cronjob::updateNotificationQueue</model>
                </run>
            </mozg_bradesco_process_notification_queue>
            <mozg_bradesco_trigger_notification>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_bradesco/cronjob::triggerNotification</model>
                </run>
            </mozg_bradesco_trigger_notification>
        </jobs>
    </crontab>
</config>
