<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Bradesco>
            <version>1.0.0</version>
        </Mozg_Bradesco>
    </modules>
    <global>
        <models>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Model</class>
                <resourceModel>mozg_bradesco_resource</resourceModel>
            </mozg_bradesco>
            <mozg_bradesco_resource>
                <class>Mozg_Bradesco_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_bradesco_resource>
            <!--<sales>
                <rewrite>
                    <billing_agreement>Mozg_Bradesco_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Bradesco_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Bradesco_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>-->
        </models>
        <helpers>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Helper</class>
            </mozg_bradesco>
            <payment>
                <rewrite>
                    <data>Mozg_Bradesco_Helper_Payment_Data</data>
                </rewrite>
            </payment><!--xx-->
        </helpers>
        <resources>
            <mozg_bradesco_setup>
                <setup>
                    <module>Mozg_Bradesco</module>
                    <class>Mozg_Bradesco_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_bradesco_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_bradesco>
                <class>Mozg_Bradesco_Block</class>
            </mozg_bradesco>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Bradesco_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales><!--xx-->
        </blocks>
        <payment>
            <groups>
                <mozg_group>Mozg</mozg_group>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_item>
                <mozg_pre_order>
                    <to_order_item>*</to_order_item>
                </mozg_pre_order>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <mozg_pre_order>
                    <to_quote_item>*</to_quote_item>
                </mozg_pre_order>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <mozg_pre_order />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <mozg_bradesco_sales_quote_item_set_product>
                        <class>Mozg_Bradesco_Model_Observers_Quote</class>
                        <method>salesQuoteItemSetProduct</method>
                    </mozg_bradesco_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_capture>
                <observers>
                    <mozg_bradesco_capture>
                        <class>mozg_bradesco/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_bradesco_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch_checkout>
                <observers>
                    <mozg_bradesco_shopfacil_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_shopfacil_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_checkout>
            <controller_action_predispatch_firecheckout>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_firecheckout>
            <controller_action_predispatch_onestepcheckout>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_onestepcheckout>
            <controller_action_predispatch_opc>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_opc>
            <controller_action_predispatch_streamcheckout>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_streamcheckout>
            <controller_action_predispatch_gomage_checkout>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_gomage_checkout>
            <sales_order_shipment_save_before>
                <observers>
                    <mozg_bradesco_capture_invoice_on_shipment>
                        <class>mozg_bradesco/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_bradesco_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events><!--xx-->
    </global>

    <frontend>
        <secure_url>
            <mozg_process>/mozg_bradesco/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_bradesco>
                <use>standard</use>
                <args>
                    <module>Mozg_Bradesco</module>
                    <frontName>mozg_bradesco</frontName>
                </args>
            </mozg_bradesco>
        </routers>
        <translate>
            <modules>
                <Mozg_Bradesco>
                    <files>
                        <default>Mozg_Bradesco.csv</default>
                    </files>
                </Mozg_Bradesco>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_bradesco>
                    <file>mozg_bradesco.xml</file>
                </mozg_bradesco>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_bradesco_checkout_onepage_controller_success_action>
                        <class>mozg_bradesco/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_bradesco_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Bradesco before="Mage_Adminhtml">Mozg_Bradesco_Adminhtml</Mozg_Bradesco>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mozg_bradesco>
                    <file>mozg_bradesco.xml</file>
                </mozg_bradesco>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Bradesco>
                    <files>
                        <default>Mozg_Bradesco.csv</default>
                    </files>
                </Mozg_Bradesco>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <mozg_bradesco_hpp>
                        <class>mozg_bradesco/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_hpp>
                    <mozg_bradesco_billing_agreement>
                        <class>mozg_bradesco/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_bradesco_billing_agreement>
                </observers>
            </controller_action_predispatch_adminhtml>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_bradesco_sales_order_payment_cancel>
                        <class>mozg_bradesco/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_bradesco_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_bradesco_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_bradesco/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_bradesco_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events><!--xx-->
    </adminhtml>
    <default>
        <payment>
            <mozg_bradesco_abstract>
                <active>0</active>
                <sort_order>5000</sort_order>
                <model>mozg_bradesco/method_shopfacil_dummy</model>
                <currency></currency>
                <debug>1</debug>
                <uncancelorder>1</uncancelorder>
                <unholdorder>0</unholdorder>
                <autorefundoncancel>1</autorefundoncancel>
                <order_status>pending</order_status>
                <payment_authorized>processing</payment_authorized>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <capture_mode>auto</capture_mode>
                <create_pending_invoice>0</create_pending_invoice>
                <recurringtypes></recurringtypes>
                <auto_capture_openinvoice>0</auto_capture_openinvoice>
                <paypal_capture_mode>auto</paypal_capture_mode>
                <send_email_bank_sepa_on_pending>0</send_email_bank_sepa_on_pending>
                <title_renderer>title_image</title_renderer>
                <ignore_refund_notification>0</ignore_refund_notification>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
                <create_order_of_transaction_refused>0</create_order_of_transaction_refused>
                <payment_pre_authorized></payment_pre_authorized>
                <payment_cancelled>holded</payment_cancelled>
                <refund_authorized>closed</refund_authorized>
                <refund_partial_authorized>processing</refund_partial_authorized>
                <pending_status>pending_payment</pending_status>
                <capture_on_shipment>0</capture_on_shipment>
                <send_invoice_update_mail>1</send_invoice_update_mail>
                <send_update_mail>1</send_update_mail>
                <ignore_refund_notification>0</ignore_refund_notification>
                <title_renderer>title_image</title_renderer>
            </mozg_bradesco_abstract>
            <!--<mozg_bradesco_shopfacil_hpp translate="title" module="mozg_bradesco">
                <currency>EUR</currency>
                <model>mozg_bradesco/method_shopfacil_hpp</model>
                <group>mozg_group</group>
                <title>Mozg HPP</title>
                <secret_wordt></secret_wordt>
                <secret_wordp></secret_wordp>
                <delivery_days>14</delivery_days>
                <ws_username_test></ws_username_test>
                <ws_password_test></ws_password_test>
                <ws_username_live></ws_username_live>
                <ws_password_live></ws_password_live>
                <allowspecific>0</allowspecific>
                <disable_hpptypes>0</disable_hpptypes>
                <sort_order>30</sort_order>
                <return_url_in_request>1</return_url_in_request>
            </mozg_bradesco_shopfacil_hpp>
            <mozg_bradesco_shopfacil_ideal translate="title" module="mozg_bradesco">
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_ideal</model>
                <group>mozg_group</group>
                <title>Mozg iDEAL</title>
                <show_ideal_logos>0</show_ideal_logos>
                <autoselect_stored_ideal_bank>1</autoselect_stored_ideal_bank>
                <sort_order>35</sort_order>
                <allowspecific>0</allowspecific>
            </mozg_bradesco_shopfacil_ideal>
            <mozg_bradesco_shopfacil_pos translate="title" module="mozg_bradesco">
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_pos</model>
                <group>mozg_group</group>
                <title>PIN</title>
                <recurringtypes>ONECLICK</recurringtypes>
                <add_receipt_order_lines>1</add_receipt_order_lines>
                <enable_scanner>0</enable_scanner>
                <submit_scanner>0</submit_scanner>
                <express_checkout>0</express_checkout>
                <express_checkout_kiosk_mode>0</express_checkout_kiosk_mode>
                <express_checkout_recurring>1</express_checkout_recurring>
                <create_shipment>0</create_shipment>
                <allowspecific>0</allowspecific>
                <sort_order>80</sort_order>
            </mozg_bradesco_shopfacil_pos>
            <mozg_bradesco_shopfacil_cash>
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_cash</model>
                <group>mozg_group</group>
                <title>Cash</title>
                <sort_order>90</sort_order>
                <create_shipment>1</create_shipment>
                <visible_type>both</visible_type>
                <cash_express_checkout>0</cash_express_checkout>
                <cash_drawer>0</cash_drawer>
                <cash_drawer_printer_ip></cash_drawer_printer_ip>
                <cash_drawer_printer_port>8008</cash_drawer_printer_port>
                <cash_drawer_printer_device_id>local_printer</cash_drawer_printer_device_id>
                <ip_filter>0</ip_filter>
            </mozg_bradesco_shopfacil_cash>
            <mozg_bradesco_shopfacil_openinvoice translate="title" module="mozg_bradesco">
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_openinvoice</model>
                <group>mozg_group</group>
                <title>Mozg Open Invoice</title>
                <openinvoicetypes>openinvoice</openinvoicetypes>
                <gender_show>0</gender_show>
                <dob_show>0</dob_show>
                <telephone_show>0</telephone_show>
                <shoppertype>1</shoppertype>
                <different_address_disable>0</different_address_disable>
                <ratepay_id>oj9GsQ</ratepay_id>
                <sort_order>40</sort_order>
            </mozg_bradesco_shopfacil_openinvoice>
            <mozg_bradesco_shopfacil_cc translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>1010</sort_order>
                <title>Cartão de Crédito Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_cc</model>
                <group>mozg_group</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <provider>Simulado</provider>
                <cctypes>AE,VI,MC,DI,DC,JCB,ELO,AU,hipercard</cctypes>
                <visible_type>both</visible_type>
                <authenticate>0</authenticate>
                <fraudanalysis>0</fraudanalysis>
                <enable_moto>0</enable_moto>
                <enable_installments>1</enable_installments>
                <installments>a:6:{i:0;a:4:{i:0;s:3:"BRL";i:1;s:3:"100";i:2;s:1:"1";i:3;s:1:"0";}i:1;a:4:{i:0;s:3:"BRL";i:1;s:3:"200";i:2;s:1:"2";i:3;s:1:"0";}i:2;a:4:{i:0;s:3:"BRL";i:1;s:3:"600";i:2;s:1:"3";i:3;s:1:"0";}i:3;a:4:{i:0;s:3:"BRL";i:1;s:3:"800";i:2;s:1:"4";i:3;s:1:"0";}i:4;a:4:{i:0;s:3:"BRL";i:1;s:5:"10000";i:2;s:1:"5";i:3;s:1:"0";}i:5;a:4:{i:0;s:3:"BRL";i:1;s:6:"100000";i:2;s:1:"6";i:3;s:1:"0";}}</installments>
            </mozg_bradesco_shopfacil_cc>
            <mozg_bradesco_shopfacil_dc translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>1020</sort_order>
                <title>Cartão de Débito Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_dc</model>
                <group>mozg_group</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <provider>Simulado</provider>
                <dctypes>VI,MC</dctypes>
                <visible_type>both</visible_type>
                <enable_moto>0</enable_moto>
                <enable_installments>0</enable_installments>
            </mozg_bradesco_shopfacil_dc>
            <mozg_bradesco_shopfacil_oneclick translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>1030</sort_order>
                <title>Bradesco OneClick (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_oneclick</model>
                <group>mozg_group</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <recurring_payment_type>ONECLICK</recurring_payment_type>
            </mozg_bradesco_shopfacil_oneclick>-->
            <mozg_bradesco_shopfacil_boleto translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>5050</sort_order>
                <title>Boleto Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_boleto</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <visible_type>both</visible_type>
                <cedente>ACME (American Company Makes Everything)</cedente>
                <carteira>25</carteira>
                <vencimento>5</vencimento>
                <mensagem_cabecalho>mensagem de cabecalho</mensagem_cabecalho>
                <instrucoes><![CDATA[- instrucao_linha_1
- instrucao_linha_2
- instrucao_linha_3]]></instrucoes>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_bradesco_shopfacil_boleto>
            <mozg_bradesco_shopfacil_eletronictransfer translate="title" module="mozg_bradesco">
                <active>0</active>
                <sort_order>5060</sort_order>
                <title>Transferência Eletrônica Bradesco (powered by MOZG)</title>
                <model>mozg_bradesco/method_shopfacil_eletronicTransfer</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <eletronictransfertypes>Bradesco,BancoDoBrasil</eletronictransfertypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_bradesco_shopfacil_eletronictransfer>
            <!--<mozg_bradesco_shopfacil_sepa translate="title" module="mozg_bradesco">
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_sepa</model>
                <group>mozg_group</group>
                <visible_type>both</visible_type>
                <title>Mozg SEPA</title>
                <sort_order>60</sort_order>
                <validate_iban>0</validate_iban>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
                <flow>sales</flow>
            </mozg_bradesco_shopfacil_sepa>
            <mozg_bradesco_shopfacil_pay_by_mail>
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_payByMail</model>
                <group>mozg_group</group>
                <visible_type>backend</visible_type>
                <title>Mozg Pay By Mail</title>
                <session_validity>3</session_validity>
                <sort_order>1070</sort_order>
            </mozg_bradesco_shopfacil_pay_by_mail>
            <mozg_bradesco_shopfacil_apple_pay translate="title" module="mozg_bradesco">
                <active>0</active>
                <model>mozg_bradesco/method_shopfacil_applePay</model>
                <group>mozg_group</group>
                <title>Mozg Apple Pay</title>
                <sort_order>80</sort_order>
                <shipping_type>shipping</shipping_type>
                <allow_quest_checkout>1</allow_quest_checkout>
                <change_address>1</change_address>
                <show_in_payment_step_checkout>1</show_in_payment_step_checkout>
                <show_outside_of_checkout>1</show_outside_of_checkout>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
            </mozg_bradesco_shopfacil_apple_pay>
            <mozg_bradesco_shopfacil_multibanco>
                <model>mozg_bradesco/method_shopfacil_multibanco</model>
                <group>mozg_group</group>
                <active>0</active>
                <title>Mozg Multibanco</title>
                <sort_order>100</sort_order>
                <visible_type>both</visible_type>
            </mozg_bradesco_shopfacil_multibanco>-->
        </payment>
        <mozg_bradesco>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>
                    <AU>
                        <code>AU</code>
                        <code_alt>aura</code_alt>
                        <name>Aura</name>
                        <order>100</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AU>
                </cctypes>
                <dctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <!--<SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>-->
                </dctypes>
                <boletotypes>
                    <!--<Simulado>
                        <code>Simulado</code>
                        <name>Boleto sem Registro - Simulado</name>
                        <order>0</order>
                    </Simulado>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Boleto sem Registro - Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Boleto sem Registro - Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                    <CitiBank>
                        <code>CitiBank</code>
                        <name>Boleto sem Registro - CitiBank</name>
                        <order>0</order>
                    </CitiBank>
                    <Itau>
                        <code>Itau</code>
                        <name>Boleto sem Registro - Itaú</name>
                        <order>0</order>
                    </Itau>
                    <Caixa>
                        <code>Caixa</code>
                        <name>Boleto sem Registro - Caixa</name>
                        <order>0</order>
                    </Caixa>
                    <Santander>
                        <code>Santander</code>
                        <name>Boleto sem Registro - Santander</name>
                        <order>0</order>
                    </Santander>
                    <Bradesco2>
                        <code>Bradesco2</code>
                        <name>Boleto com Registro - Bradesco</name>
                        <order>0</order>
                    </Bradesco2>
                    <BancoDoBrasil2>
                        <code>BancoDoBrasil2</code>
                        <name>Boleto com Registro - Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil2>
                    <ItauShopline>
                        <code>ItauShopline</code>
                        <name>Boleto com Registro - Itaú</name>
                        <order>0</order>
                    </ItauShopline>
                    <Santander2>
                        <code>Santander2</code>
                        <name>Boleto com Registro - Santander</name>
                        <order>0</order>
                    </Santander2>
                    <Caixa2>
                        <code>Caixa2</code>
                        <name>Boleto com Registro - Caixa</name>
                        <order>0</order>
                    </Caixa2>
                    <CitiBank2>
                        <code>CitiBank2</code>
                        <name>Boleto com Registro - CitiBank</name>
                        <order>0</order>
                    </CitiBank2>-->
                </boletotypes>
                <eletronictransfertypes>
                    <!--<Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancoDoBrasil>
                        <code>BancoDoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancoDoBrasil>
                    <SafetyPay>
                        <code>SafetyPay</code>
                        <name>SafetyPay</name>
                        <order>0</order>
                    </SafetyPay>
                    <Itau>
                        <code>Itau</code>
                        <name>Itaú</name>
                        <order>0</order>
                    </Itau>-->
                </eletronictransfertypes>
                <openinvoicetypes>
                    <afterpay>
                        <code>afterpay_default</code>
                        <name>AfterPay Netherlands</name>
                        <order>10</order>
                    </afterpay>
                    <klarna>
                        <code>klarna</code>
                        <name>Klarna</name>
                        <order>20</order>
                    </klarna>
                    <ratepay>
                        <code>ratepay</code>
                        <name>RatePAY</name>
                        <order>30</order>
                    </ratepay>
                </openinvoicetypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </mozg_bradesco>
    </default>
    <crontab>
        <jobs>
            <mozg_bradesco_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_bradesco/cronjob::updateNotificationQueue</model>
                </run>
            </mozg_bradesco_process_notification_queue>
            <mozg_bradesco_trigger_notification>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_bradesco/cronjob::triggerNotification</model>
                </run>
            </mozg_bradesco_trigger_notification>
        </jobs>
    </crontab>
</config>
